/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.box {
  width: 100px;
  height: 100px;
}

.colorOne {
  background-color: rgb(23,54,86);
}

.colorTwo {
  background-color: rgb(67,46,34);
}

.colorThree {
  background-color: rgb(255,35,65);
}